{% extends 'core/base.html' %}
{% block content %}


<div class="max-w-6xl mx-auto flex flex-wrap py-6 px-6 xl:px-0">
    <div class="images w-full mb-6 lg:mb-0 lg:w-3/5">
        <img src="1.jpg" class="rounded-xl">

    </div>
    <div class="information w-full lg:w-2/5 lg:p-6">
        <h1 class="text-2xl">Nombre del Producto</h1>
        <p class="mt-1 text-gray-400">$1.000.000</p>
        <p class="mt-6 text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus mollitia unde quod, laboriosam neque, in libero aspernatur aperiam, deserunt ratione quidem distinctio reiciendis quis illo veniam similique quam maiores cupiditate!</p>
        <a href="#" class="mt-6 inline-block px-8 py-4 rounded-xl bg-purple-500 text-white hover:bg-purple-700">Agregar</a>

    </div>

</div>

{% endblock %}