<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    {% block content %}
    <section class="h-screen">
        <div class="container px-6 py-12 h-full">
          <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
            <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                class="w-full"
                alt="Phone image"
              />
            </div>
            <div class="max-w-lg mx-auto flex flex-wrap p-6">
              <div class="w-full bg-gray-100 p-6 rounded-xl">
                  <h1 class="mb-6 text-2xl">Iniciar Sesion</h1>
          
                  <form method="post" action="." class="space-y-3">
                      {% csrf_token %}
                      {{ form.as_p }}
          
                      <div>
                          <button class="py-2 px-6 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Acceder</button>
                      </div>
                  </form>
                  <br>
                  <a href="{% url 'signup1' %}" class="py-2 px-10 rounded-xl text-white bg-purple-500 hover:bg-purple-700">Crear Cuenta</a>    
              </div>
              
          </div>
            </div>
          </div>
        </div>
      </section>
      {% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
   
</footer>
</body>
</html>